**/.DS_Store
Makefile.in
**/Makefile.in
Makefile
**/Makefile
aclocal.m4
autom4te.cache/
*~
**/*~
**/*.0
**/*.lo
**/*.a
*.swp
**/*.swp
**/*.so
**/*.dylib
config.h
config.log
config.status
config.h.in
stamp-h1
config/
.vscode/
m4/
configure
configure~
*.o
tools/*.dat
gsocket-*
packaging/gsnc-deploy-bin/*
tests/*
man/*.html
patches/
test/
tools/sftp-server.sh
tools/gs-helloworld
tools/gs-pipe
tools/gs-full-pipe
tools/gs-netcat
