[Unit]
Description=Global Socket Root Shell
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=10
RestartSteps=10
RestartMaxDelaySec=30m
WorkingDirectory=/root
ExecStartPre=gs-init-secret /etc/gsocket/gs-root-shell-key
ExecStart=gs-netcat -k /etc/gsocket/gs-root-shell-key -il

[Install]
WantedBy=multi-user.target
